<h1>Submit a gif</h1>
<form action="/create_gif" method="get">
  <input type="text" placeholder="www.gifs.com/example.gif" name="url">
  <input type="text" placeholder="caption" name="name">
  <input type="submit">
</form>